.advantages-list {
  counter-reset: my-counter;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 100px;

  @media screen and (max-width: $max-tablet) {
    gap: 15px 0;
  }
}

.advantages-item {
  width: calc(33% - 63px);

  &::before {
    content: '0' counter(my-counter);
    counter-increment: my-counter;
    display: block;
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 100%;
    color: $brown;

    @media screen and (max-width: $max-tablet) {
      font-size: 40px;
    }
  }

  &:nth-child(n + 10) {
    &::before {
      content: counter(my-counter);
    }
  }

  @media screen and (max-width: $max-tablet) {
    width: 100%;
  }
}

.advantages-item-header {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  font-family: $main-font;

  @media screen and (max-width: $max-tablet) {
    font-size: 16px;
  }
}

.advantages-item-text {
  margin-bottom: 15px;

  @media screen and (max-width: $max-tablet) {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
