.pagination {
  display: flex;
  margin-bottom: 50px;
  gap: 30px
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;

  @media(max-width: $max-tablet) {
    margin-top: 25px
  }

  @media(max-width: $max-mobile) {
    margin-top: 0
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    border: 1px solid #F2F4F6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    opacity: 1;
    cursor: pointer;

    @media(max-width: $max-mobile) {
      width: 30px;
      min-width: 30px;
      height: 30px;
      font-size: 12px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:active,
      &:focus {
        background-color: $brown;
        color: $white;
      }
    }
  }

  button.active {
    background-color: $brown;
    color: $white;
    border: 1px solid $brown;
  }
}

.pagination-item-active {
  background-color: $brown;
  color: $white;
  border: 1px solid $brown;

  a {
    color: $white;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.pagination-item.disabled a {
  opacity: 0.5;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
      color: #181818;
    }
  }
}
