$header-font: 'Playfair', 'Arial';
$main-font: 'Gatham', 'Arial' sans-serif;
$black: #181818;
$dark-grey: #28282B;
$brown: #B18341;
$red: #E53232;
$green: #32CD32;
$light-brown: #9d8f80;
$light-grey: #DDD;
$white: #FFF;

$max-tablet: 1199px;
$min-tablet: 768px;
$max-mobile: 767px;
