.form {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

  }

  .btn {
    width: 100%;
  }

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    outline: none;
    font-size: 14px;
    background-color: transparent;

    &:hover,
    &:focus {
      border: 1px solid #888;
    }

    &::placeholder {
      color: #ACB7C1
    }
  }

  input {
    height: 45px;

    @media screen and (max-width: $max-mobile) {
      height: 31px;
    }
  }

  input[type="radio"] + label {
    position: relative;
    left: 54px;
    width: calc(100% - 54px);
    margin-bottom: 0;
    text-transform: none;
    font-size: 13px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:active,
      &:focus {
        &::before {
          background-color: $brown;
        }

        &::after {
          left: -36px;
        }
      }
    }

    a {
      color: $brown;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:active,
        &:focus {
          text-decoration: underline

        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -54px;
      top: 0;
      display: block;
      width: 41px;
      height: 22px;
      margin-right: 13px;
      border-radius: 50px;
      background-color: #BBB;
    }

    &::after {
      content: '';
      position: absolute;
      left: -54px;
      top: 0;
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50px;
      background-color: $white;
    }
  }

  input[type="radio"] {
    width: 0;
    height: 0;
  }

  input[type="radio"]:checked + label {
    &::before {
      background-color: $brown;
    }

    &::after {
      left: -36px;
    }
  }

  textarea {
    resize: vertical;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0 25px;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  white-space: nowrap;
  background: transparent;
  text-transform: uppercase;

  @media (max-width: $max-mobile) {
    height: 32px;
    font-size: 10px;
    letter-spacing: 0.1em;
  }
}

.brown-color-btn {
  border: 1px solid #443D33;
  color: $brown;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      border-color: $brown
    }
  }
}

.brown-btn {
  color: $white;
  background-color: $brown;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      background-color: $light-brown;
    }
  }
}

.white-color-btn {
  border: 1px solid $light-brown;
  color: $white;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      border-color: $brown;
      color: $brown;
    }
  }
}

.black-color-btn {
  border: 1px solid $brown;
  color: $black;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      background-color: $brown;
      color: $white;
    }
  }
}

.black-button {
  background-color: $black;
  color: $white;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      background-color: #37373c;
    }
  }

  svg {
    width: 18px;
    min-width: 18px;
    height: 21px;
    margin-left: 5px;
    fill: $white;
  }
}

.black-border-button {
  border: 1px solid $black;
  background-color: $white;
  color: $black;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      border-color: $brown;
      color: $brown;
    }
  }
}

.grey-button {
  background-color: #F1F1F1;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:active,
    &:focus {
      color: $brown;
    }
  }
}
