.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;

  @media screen and (max-width: $max-tablet) {
    padding: 0 24px;
  }

  @media screen and (max-width: $max-mobile) {
    min-width: 320px;
    padding: 0 15px;
  }
}

.section {
  position: relative;
  z-index: 0;
  padding: 90px 0;
  background-repeat: no-repeat;
  background-size: 1920px 100%;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: 1921px) {
    background-size: cover;
  }

  @media screen and (max-width: $max-tablet) {
    padding: 50px 0;
    background-size: 1920px 406px;
    background-position: bottom center;
  }

  @media screen and (max-width: $max-mobile) {
    padding: 40px 0;
  }
}

.section-side {
  margin-bottom: 70px;

  @media screen and (max-width: $max-tablet) {
    margin-bottom: 40px;
  }
}

.section-white {
  background-color: $white;
}

.section-black {
  background-color: $dark-grey;
  color: $white;

  a {
    color: $white;
  }
}

.section-brown {
  background-color: $brown;
  color: $white;

  a {
    color: $white;
  }
}
